@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 100%;
    width: 100%;
}

header {
    height: 79.5px;
}

.section1 {
    height: 944px;
    width: 100%;
    background-image: url(..//assets/Fundo\ tela\ de\ cadastro.png);
    display: flex;
}

.lux {
    margin-top: 127px;
    height: 838px;
    width: 764px;
}

.garen {
    margin-top: 179px;
    height: 817px;
    width: 608px;
}

.footer {
    height: 355px;
    width: 100%;
}

/* Cadastro */

/* Primeira Linha */

.cadastro {
    display: flex;
    flex-direction: column;
}

.nome_text {
    font-family: Roboto;
    font-size: 32px;
    line-height: 37px;
    color: white;
    margin-top: 10px;
    display: grid;
}

.nome {
    padding-left: 20px;
    height: 69px;
    width: 690px;
    background-color: #c4c4c4;
    font-size: 32px;
}

/* Segunda Linha */

form {
    padding-top: 93px;
}

.nick_nascimento_flex {
    display: flex;
    width: 690px;
    justify-content: space-between;
    margin-top: 10px;
}

.nick_nascimento_column {
    display: flex;
    flex-direction: column;
}

.nickname {
    height: 69px;
    width: 295px;
    padding-left: 5px;
    font-size: 32px;
    background-color: #c4c4c4;
}

.nickname_text {
    font-family: Roboto;
    font-size: 32px;
    line-height: 37px;
    color: white;
}

.btn {
    height: 101px;
    width: 544px;
    border-radius: 50px;
    background: linear-gradient(0deg, #C31616, #C31616), linear-gradient(90deg, #C31616 0%, #C31616 43.38%, #0F0000 69.84%, #000000 100%);
    margin-top: 44px;

}
